
<div class='jumbotron'>
<h2> Add a Number! </h2><br>
  <h4> If your number is 413-555-5555 format it as 4135555555</h4>
  <%= form_for @number do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :number %> <br>
    <%= f.text_field :number %> <br> <br>
    <%= f.submit 'Add Number' %>
  <% end %>
</div>

