
<div class='jumbotron'>
<h2> Add a Number! </h2><br>
  <%= form_for @number do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :number %> <br>
    <%= f.text_field :number %> <br> <br>
    <%= f.submit 'Add Number' %>
  <% end %>
</div>

