<div class='jumbotron'>
  <h1> Evening For Us </h1>
  <% if user_signed_in?%>
    Logged in as <strong><%= current_user.email %></strong>.
     <br>
     <br>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="form">
          <div class="form">
           <%= form_tag('/places/search', method:'post') do %>
           <h3> Find
             <%= text_field_tag :term, params[:term], placeholder: "Cheap food, drinks, dancing...", class: "form-control",required: true %><br>
             In your city
             <%= text_field_tag :city, params[:city], placeholder: 'Boston, New York, Portland ...', class: 'form-control', required: true %><br>
             By state code (two letter uppercase)
             <%= text_field_tag :state, params[:state], placeholder: "MA, NY, ME, CT, HI...", class: 'form-control', required: true%><br>
             <%= submit_tag "Search", class: 'btn btn-default btn-lg', name: nil %></h3>
           <% end %>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
  <% end %>

</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <p>
        This is my first project. Evening For Us is a web app that lets the user find evening plans for themselves through yelp reviews of restaurants, bars, and night clubs. They can then send preconstructed messages to their friends with the address, time, and rating. The goal was to show an understanding of using rails with API calls using gems.
        The Background picture by Jen Smitherman was taken from Flikr: Creative Commons found
        <a href = 'http://tinyurl.com/olosfgz'>Here</a>
      </p>
    </div>
  </div>
</div>
