<div class='container'>
  <div class='row-fluid'>
    <div class='col-md-10 col-md-offset-1'>
      <div class='well'>
        <table class="table">
            <thead></thead>
            <tbody>
            <div class="result">
                <h2><%= link_to place['name'], place['url'] %></h2><br>
                <img src=<%= place['image_url']%>><br>
                <img src=<%= place['rating_img_url'] %> </img>
                <h5>From <%= place['review_count'] %> Reviews</h5>
                <%= place['snippet_text'] %> <br>
                <br>
                <iframe class="map_iframe"
                width="70%"
                height="50%"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%="#{ENV["GOOGLE_MAPS_KEY"]}"%>
                &q=<%= place['location']['display_address'][0] %>
                <%= place['location']['display_address'][1] %>
                <%= place['location']['display_address'][2] %>">
                </iframe>
                <br>
                <%= place['location']['display_address'][0] %>,
                <%= place['location']['display_address'][1] %>
                <%= place['location']['display_address'][2] %>
                <br>
                <% if place['is_closed'] == false %>
                  <p> Open now!</p>
                <%else%>
                  <p> Not open now</p>
                <%end%>

                <%= form_tag("/messages/get_info") do %>
                  <%= hidden_field_tag(:name, place['name']) %>
                  <%= hidden_field_tag(:street, place['location']['display_address'][0]) %>
                  <%= hidden_field_tag(:city_state, place['location']['display_address'][1]) %>
                  <%= submit_tag "Send to Friends", class: 'btn btn-default btn-lg', name:nil %>
                <% end %>
                <br>
                <br>
              </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
